<h2>Create an Author</h2>
<%= form_tag @author, method: "post" do %>
    <% if @author.errors.any?%>
        <div id= 'error_explanation' style = "color :red">
            <h2>Error</h2>
            <ul>
                <%@author.errors.full_messages.each do|message|%>
                <li><%= message %></li>
                <%end%>
            </ul>
        </div>
    <%end%>

    <div class="field">
        <% if @author.errors[:name].empty? %>
              <div class="field">
          <% else %>
              <div class="field_with_errors">
          <% end %>

          <%= label_tag "name", "Name" %>
          <%= text_field_tag "name", @author.name%>
      </div>

      <div class= 'field'>
          <% if @author.errors[:emial].empty? %>
              <div class="field">
          <% else %>
              <div class="field_with_errors">
          <% end %>

        <%= label_tag "email", "Email" %>
        <%= text_field_tag "email", @author.email%>
      </div>

      <div class="field" >
      <% if @author.errors[:phone_number].empty? %>
            <div class="field">
        <% else %>
            <div class="field_with_errors">
        <% end %>
        <%= label_tag "phone_number", "Phone Number" %>
        <%= text_field_tag "phone_number", @author.phone_number%>
    </div>
<%= submit_tag "Create" %>
<% end %>